php_value memory_limit 512M

php_value magic_quotes_gpc 0
php_value register_globals 0
php_value magic_quotes_runtime 0
php_value track_errors 1
php_value last_modified off
php_value short_open_tag on

DirectoryIndex index.php

RewriteEngine on
RewriteRule ^photos/$			photos.php		[L]
RewriteRule ^stats/$			stats.php		[L]
RewriteRule ^achievements/$		achievements.php	[L]
RewriteRule ^achievements/api.php$	achievements_api.php	[L]
RewriteRule ^quests/$			quests.php		[L]
RewriteRule ^quests/api.php$		quests_api.php		[L]
