<?
	$cfg = array(

		#
		# this url needs to point to the root folder of the GuildInfo install. for example:
		#
		# http://myguild.com/		=> '/'
		# http://otherguild.com/info/	=> '/info/'
		#
		#

		'root_url'	=> '/',


		#
		# mysql database config params. be sure to import the schema first!
		#

		'db_host'	=> 'localhost',
		'db_user'	=> 'user',
		'db_pass'	=> 'pass',
		'db_name'	=> 'guildinfo',
	);

?>
